<template>
  <div id="app">
    <navbar1></navbar1>
    <br />
    <div class="container">
      <p>
        A crontab file contains instructions for the cron daemon in the
        following simplified manner: "run this command at this time on this
        date". Each user can define their own crontab.
      </p>
      <form id="form_1">
        <div class="form-group row">
          <label for="cpy" class="col-sm-2 col-form-label">Copy</label>
          <div class="form-control d-flex align-items-center px-20px col-sm-10">
            <span class="code text-red">{{ data_ }}</span>
            <span
              class="btn btn-secondary text-white copy-btn ml-auto"
              @click.stop.prevent="copyText"
            >
              Copy
            </span>
            <input type="hidden" id="copyText" :value="data_" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <div class="card border-dark">
              <div class="card-header">Minutes</div>
              <div class="card-body text-dark">
                <div>
                  <b-form-group>
                    <template v-slot:label>
                      <b-form-checkbox
                        v-model="allSelected_minutes"
                        :indeterminate="indeterminate_minutes"
                        aria-describedby="minutes"
                        aria-controls="minutes"
                        @change="toggleAll_minutes"
                      >
                        {{
                          allSelected_minutes ? "Un-select All" : "Select All"
                        }}
                      </b-form-checkbox>
                    </template>

                    <b-form-checkbox-group
                      id="minutes"
                      v-model="selected_minutes"
                      :options="minutes"
                      name="minutes"
                      class="ml-4"
                    ></b-form-checkbox-group>
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card border-dark">
              <div class="card-header">Hours</div>
              <div class="card-body text-dark">
                <div>
                  <b-form-group>
                    <template v-slot:label>
                      <b-form-checkbox
                        v-model="allSelected_hours"
                        :indeterminate="indeterminate_hours"
                        aria-describedby="hours"
                        aria-controls="hours"
                        @change="toggleAll_hours"
                      >
                        {{ allSelected_hours ? "Un-select All" : "Select All" }}
                      </b-form-checkbox>
                    </template>

                    <b-form-checkbox-group
                      id="hours"
                      v-model="selected_hours"
                      :options="hours"
                      name="hours"
                      class="ml-4"
                    ></b-form-checkbox-group>
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card border-dark">
              <div class="card-header">Day of a Month</div>
              <div class="card-body text-dark">
                <div>
                  <b-form-group>
                    <template v-slot:label>
                      <b-form-checkbox
                        v-model="allSelected"
                        :indeterminate="indeterminate"
                        @change="toggleAll"
                      >
                        {{ allSelected ? "Un-select All" : "Select All" }}
                      </b-form-checkbox>
                    </template>

                    <b-form-checkbox-group
                      id="days"
                      v-model="selected"
                      :options="days"
                      name="flavors"
                      class="ml-4"
                    ></b-form-checkbox-group>
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <div class="card border-dark">
              <div class="card-header">Months</div>
              <div class="card-body text-dark">
                <h5 class="card-title">Select Months</h5>
                <div
                  class="form-group row justify-content-center
                "
                >
                  <select
                    multiple
                    class="form-control col-sm-10
                    "
                    id="value4"
                    required
                  >
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card border-dark">
              <div class="card-header">Day of the Week</div>
              <div class="card-body text-dark">
                <h5 class="card-title">Select Days</h5>
                <div
                  class="form-group row justify-content-center
                "
                >
                  <select
                    multiple
                    class="form-control col-sm-10
                    "
                    id="value5"
                    required
                  >
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="form-group row">
          <label for="value6" class="col-sm-2 col-form-label">Command</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="value6"
              placeholder="cp /source /destination"
              v-model="value6"
              required
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" @click="getData()" class="btn btn-primary">
              Submit
            </button>
          </div>
          <input id="submit_handle" type="submit" style="display: none" />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/navbar1";

export default {
  name: "App",
  components: {
    navbar1: NavBar
  },
  data() {
    return {
      text: "Test",
      value1: "",
      value2: "",
      value3: "",
      value4: "",
      value5: "",
      value6: "",
      // value7: ">/dev/null 2>&1",
      data_: "",
      minutes: [],
      selected_minutes: [],
      allSelected_minutes: false,
      indeterminate_minutes: false,
      hours: [],
      selected_hours: [],
      allSelected_hours: false,
      indeterminate_hours: false,
      days: [],
      days_1: [],
      selected: [],
      allSelected: false,
      indeterminate: false
    };
  },
  created() {
    this.days1();
  },
  methods: {
    days1() {
      for (let i_11 = 1; i_11 < 32; i_11++) {
        this.days.push(("0" + i_11).slice(-2));
      }

      for (let m = 0; m < 60; m++) {
        this.minutes.push(("0" + m).slice(-2));
      }
      for (let h = 0; h < 24; h++) {
        this.hours.push(("0" + h).slice(-2));
      }
    },
    compressArr(list_) {
      // list_ = list_.split(",").map(Number);
      list_ = list_.map(i => Number(i));
      let start = list_[0];
      let stop = start;
      let result = "";

      for (let i = 1; i < list_.length; i++) {
        if (list_[i] === stop + 1) {
          stop = list_[i];
        } else {
          if (start === stop) {
            result += start + ",";
          } else {
            result += start + "-" + stop + ",";
          }
          start = list_[i];
          stop = start;
        }
      }

      if (start === stop) {
        result += start;
      } else {
        result += start + "-" + stop;
      }

      return result;
    },
    copyText() {
      let textToCopy = document.querySelector("#copyText");
      textToCopy.setAttribute("type", "data_");
      textToCopy.select();
      document.execCommand("copy");
      window.getSelection().removeAllRanges();
    },
    toggleAll(checked) {
      this.selected = checked ? this.days.slice() : [];
    },
    toggleAll_hours(checked) {
      this.selected_hours = checked ? this.hours.slice() : [];
    },
    toggleAll_minutes(checked) {
      this.selected_minutes = checked ? this.minutes.slice() : [];
    },
    getData() {
      document.getElementById("form_1").onsubmit = function(e) {
        e.preventDefault();
      };
      this.selected_minutes = this.selected_minutes.sort();
      this.value1 = this.compressArr(this.selected_minutes);
      if (this.selected_minutes.length == 60) {
        this.value1 = "*";
      }
      this.selected_hours = this.selected_hours.sort();
      this.value2 = this.compressArr(this.selected_hours);
      if (this.selected_hours.length == 24) {
        this.value2 = "*";
      }
      this.selected = this.selected.sort();
      this.value3 = this.compressArr(this.selected);
      if (this.selected.length == 31) {
        this.value3 = "*";
      }
      var slt4 = document.getElementById("value4");
      var opt4;
      for (var i = 0; i < slt4.options.length; i++) {
        opt4 = slt4[i];
        if (opt4.selected) {
          this.value4 += (opt4.value || opt4.text) + ",";
        }
      }
      this.value4 = this.value4.substring(0, this.value4.length - 1);
      var v4 = JSON.parse("[" + this.value4 + "]");
      let v4_len = this.value4.length;
      this.value4 = this.compressArr(v4);
      if (v4_len == 26) {
        this.value4 = "*";
      }
      var slt = document.getElementById("value5");
      var opt;
      for (var i5 = 0; i5 < slt.options.length; i5++) {
        opt = slt[i5];
        if (opt.selected) {
          this.value5 += (opt.value || opt.text) + ",";
        }
      }
      this.value5 = this.value5.substring(0, this.value5.length - 1);
      var v5 = JSON.parse("[" + this.value5 + "]");
      let v5_len = this.value5.length;
      this.value5 = this.compressArr(v5);
      if (v5_len == 13) {
        this.value5 = "*";
      }
      this.data_ =
        this.value1 +
        " " +
        this.value2 +
        " " +
        this.value3 +
        " " +
        this.value4 +
        " " +
        this.value5 +
        " " +
        this.value6;
      // " " +
      // this.value7;
    }
  },
  watch: {
    $route: "fetchData",
    selected(newVal) {
      if (newVal.length === 0) {
        this.indeterminate = false;
        this.allSelected = false;
      } else if (newVal.length === this.days.length) {
        this.indeterminate = false;
        this.allSelected = true;
      } else {
        this.indeterminate = true;
        this.allSelected = false;
      }
    },
    selected_hours(newVal) {
      if (newVal.length === 0) {
        this.indeterminate_hours = false;
        this.allSelected_hours = false;
      } else if (newVal.length === this.hours.length) {
        this.indeterminate_hours = false;
        this.allSelected_hours = true;
      } else {
        this.indeterminate_hours = true;
        this.allSelected_hours = false;
      }
    },
    selected_minutes(newVal) {
      if (newVal.length === 0) {
        this.indeterminate_minutes = false;
        this.allSelected_minutes = false;
      } else if (newVal.length === this.minutes.length) {
        this.indeterminate_minutes = false;
        this.allSelected_minutes = true;
      } else {
        this.indeterminate_minutes = true;
        this.allSelected_minutes = false;
      }
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
